<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedCustomers()" [disabled]="!selectedCustomers || !selectedCustomers.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
</p-toolbar>

<p-table #dt [value]="customers" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
    [(selection)]="selectedCustomer" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Manage customers</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="orgnumber">Orgnumber <p-sortIcon field="orgnumber"></p-sortIcon></th>
            <th pSortableColumn="print">Print <p-sortIcon field="print"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="einvoice">E-invoice <p-sortIcon field="einvoice"></p-sortIcon></th>
            <th pSortableColumn="emailaddress">Emailaddress <p-sortIcon field="emailaddress"></p-sortIcon></th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>
                <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>{{customer.name}}</td>
            <td>{{customer.orgnumber}}</td>
            <td><i *ngIf="customer.print" class="pi pi-check"></i></td>
            <td><i *ngIf="customer.email" class="pi pi-check"></i></td>
            <td><i *ngIf="customer.einvoice" class="pi pi-check"></i></td>
            <td>{{customer.emailaddress}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editCustomer(customer)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteCustomer(customer)"></button>
            </td>
            <td>TEST</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{customers ? customers.length : 0 }} customers.
        </div>
    </ng-template>
</p-table>

<p-dialog [(visible)]="customerDialog" [style]="{width: '450px'}" header="Customer Details" [modal]="true" styleClass="p-fluid">  
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Customer Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="customer.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !customer.name">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="description">OrgNumber</label>
            <input type="text"  id="description" pInputText [(ngModel)]="customer.orgnumber" cols="20" />
        </div>
        <div class="p-field">
            <p-checkbox [(ngModel)]="customer.print" label="Print" [binary]="true" inputId="print"></p-checkbox>      
        </div>
        <div class="p-field">
            <p-checkbox [(ngModel)]="customer.email" label="Email" [binary]="true" inputId="email"></p-checkbox>  
        </div>
        <div class="p-field">
            <p-checkbox [(ngModel)]="customer.einvoice" label="Einvoice" [binary]="true" inputId="einvoice"></p-checkbox>  
        </div>
        <div class="p-field">
            <label for="description">Emailaddress</label>
            <input type="text"  id="description" pInputText [(ngModel)]="customer.emailaddress" cols="20" />
        </div>
        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCustomer()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
